.hud {
  background: #FFF;
  text-align: center;
}

body {
  margin-top: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .main {
  padding-top: 102px;
}

.trackSelect {
  background: #FFF;
  border: none;
}

li:hover {
  background: #e0e0e0;
}

button {
  background: rgba(255, 255, 255, 0);
  border: none;
}
